.container {
  border: 5px solid black;
  margin-bottom: 20px;
}

/* Using margin */
.container1 .box {
  width: 100px;
  height: 100px;
  background-color: red;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

/* Using flexbox */
.container2 {
  border: 5px solid black;
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
}

.container2 .box {
  width: 100px;
  height: 100px;
  background-color: green;
}

.text {
  background-color: #d3d3d3;
  text-align: center;
}
