*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #ee6352;
  --clr-body: #333;
  --clr-bg: #ddd;
}

body {
  font-family: basic-sans, sans-serif;
  min-height: 100vh;
  font-size: 1.125em;
  line-height: 1.6;
  color: var(--clr-body);
  background: var(--clr-bg);
}

main {
  border: 5px solid limegreen;
  width: 350px;
}

.content {
  width: 100%;
  border: 10px solid red;
  padding: 80px;
  background: white;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
}

.title {
  margin: 0 0 0.5em;
  font-weight: 900;
  color: var(--clr-primary);
  line-height: 0.8;
}
